# Arduino IDE
*.ino.cpp
*.ino.h
*.hex
*.elf
*.bin
*.map
*.o
*.a
*.d
*.tmp
*.eep
*.lss
*.sym
*.srec
*.mcp
*.lst
*.obj
*.db
*.gch
*.pre
*.map
*.pde
build/
.build/



# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
